<!DOCTYPE html>
<html>
<title> MC BLACK JESUS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0} .hey{margin-top: 100px;}}
</style>
<body class="w3-black">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  
  <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>Home</p>
  </a>
  <a href="/FOUNDER" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>FOUNDER</p>
  </a>
  <h2>ARTIST</h2>
  <a href="/MC-BLACK-JESUS" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>MC BLACK JESUS </p>
  </a>
  <a href="/Amanda" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-user w3-xxlarge"></i>
      <p>Amanda Singgs </p>
    </a>
  <a href="/Taylor" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-user w3-xxlarge"></i>
      <p>Taylor Spicer </p>
    </a>
  <a href="/CONTACT" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>
  <a href="/EVENT" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-book w3-xxlarge"></i>
    <p>Events</p>
  </a>
    <a href="/admin">admin</a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
<div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
<a href="/" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
<a href="/FOUNDER" class="w3-bar-item w3-button" style="width:25% !important">Founder</a>
<h2>ARTIST</h2>
<a href="/MC-BLACK-JESUS" class="w3-bar-item w3-button" style="width:25% !important">MC BLACK JESUS</a>
<a href="/Amanda" class="w3-bar-item w3-button" style="width:25% !important">Manda Singgs</a>
<a href="/Taylor" class="w3-bar-item w3-button" style="width:25% !important">Taylor Spicer</a>
<a href="/CONTACT" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
<a href="/EVENT" class="w3-bar-item w3-button" style="width:25% !important">Events</a>
</div>
</div>

<!-- Portfolio Section -->
<div class="w3-padding-64 w3-content" id="photos">
  <div class="hey">
    <h2 class="w3-text-light-grey">“STORMAKASTORM”</h2>
    <p>Genre:HIP-HOP</p>
    <hr style="width:200px" class="w3-opacity">

    <!-- Grid for photos -->
    <div class="w3-row-padding" style="margin:0 -16px">
    <div class="w3-half">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/KFM10pHBqnQ" frameborder="0" allowfullscreen></iframe>
        <p>Storm Freeman “STORMAKASTORM” is an aspiring hip-hop artist from Ohio.
                STORMAKASTORM has been a songwriter since he was 8 years old. His musical
                roots grew out from the 90s and have shaped everything that he is. After graduating
                from Ohio University in 2011, he packed his bags and moved to LA to pursue his
                music dreams.
                This artist represents creativity and has a fresh approach to hip-hop expression. His
                music has really grown in just the past couple of years and his following is gaining
                ground quickly.
                STORMAKASTORM has performed at many different venues, and has also had the
                honor of opening for Dru Hill and B.O.B. He has also been on a So Cal High School
                Tour. STORM has a large catalogue of songs online including his latest Album titled
                “I Wish Everything was Different” on all major music platforms, a 13-track project
                exhibiting his flow, lyrics and a lot of personal experiences and feelings. The project
                took 3 months to complete and he is very proud of the overall outcome. Storm has
                worked with many different artists and producers in the past and each musician
                was happy to play a role in the successful projects he had created. “My favorite track
                on the Album is ‘Black Jesus’. “This track was so dope and I knew I had to have a
                dope concept with it. Challenging myself lyrically and spiritually,” Storm said.
                “I Wish Everything was Different” means a lot to Storm, who has really come a long
                way since first beginning to rap and his relentless willpower to succeed is a
                standard that other young artists should follow. “I hope they will get a better
                understanding of who I am as an artist and the journey I want to take my fans on
                through my life. You can attain anything if you want it bad enough and strive for it
                every day,” Storm told our team. The talented hip-hop artist hopes the new project
                will give him more exposure and help to build his fan base as he looks to advance his
                career.
                One of Storm's goals is to share his music with anyone and everyone. His music has
                no boundaries and the potential to connect with every listener it reaches. Not only is
                Storm an artist, but he's also been producing more of his music lately. His fusion of
                beats, sounds, and instruments is sure to make you feel good and want to dance.
                Storm's emotional power, energetic personality and shear will give his music an
                extra boost of entertainment. Some of his musical inspirations include B.O.B., Big
                Sean, Drake, and Kanye West.
                Be sure to check out Stormakastorm and his music on
                soundcloud.com/stormakastorm as well as his Instagram @stormakastorm and All
                Music platforms! Get ready for the next big artist.</p>
        <a href="https://www.instagram.com/stormakastorm/" target="_blank">
          <i class="fa fa-instagram w3-hover-opacity w3-xxxlarge"></i>
        </a>
        <a href="https://www.facebook.com/StormakaStorm/" target="_blank">
          <i class="fa fa-facebook-official w3-hover-opacity w3-xxxlarge" style="margin-left: 40px"></i>
        </a>
    </div>
    <div class="w3-half">
        <img src="storm1.jpg" style="width:100%">
        <img src="storm2.jpg" style="width:100%">
        <img src="storm3.jpg" style="width:100%">
    </div>
    <!-- End photo grid -->
    </div>
<!-- End Portfolio Section -->
</div>
</div>
</body>
</html>
